body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #e9d1f3;
}

.app {
  text-align: center;
  padding: 20px;

  .titulo {
    color: #0E1C4A; 
    font-size: 3em;
    font-weight: 900; 
    animation: fadeIn 1s ease-in;
    background: linear-gradient(90deg, #00A4FF, #0E1C4A, #DA3979, #3B00B9);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  .pregunta-container {
    margin: 20px 0;

    .pregunta-texto {
      font-size: 1.2em;
      margin: 20px 0;
      color: #0E1C4A;
    }

    .opciones {
      display: flex;
      flex-direction: column;
      gap: 10px;
      max-width: 400px;
      margin: 0 auto;

      .opcion-btn {
        padding: 10px;
        background-color: #00A4FF; // Azul claro de ICP
        color: #FFFFFF;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
          background-color: #0E1C4A; // Oscuro al hover
        }
      }
    }

    .resultado {
      margin: 20px 0;
      font-weight: bold;
      color: #0E1C4A;
    }

    .nueva-pregunta-btn {
      padding: 10px;
      background-color: #28a745; 
      color: #FFFFFF;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: #11461d;
      }
    }
  }

  h2 {
    margin-top: 40px;
    color: #0E1C4A;
  }

  .ranking {
    list-style: none;
    padding: 0;

    .jugador-nombre {
      margin: 10px 0;
      color: #0E1C4A;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1px;
      background: linear-gradient(90deg, #00A4FF, #0E1C4A); // Gradiente ICP
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .nombre-input {
    padding: 8px;
    margin: 10px 5px;
    border: 1px solid #0E1C4A;
    border-radius: 5px;
    width: 200px;
  }
}